/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: var(--theme-dark-gray);
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}
